#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(46, 231, 227);

  }
  
  #signupcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 30px;
    width: 25%;
    height: 400px;
  }
  
  #icon {
    font-size: 80px;
    margin-bottom: 20px;
    color: #333;
  }
  
  h1 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
 
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
  }
  
  button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #2c6f8b;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #222;
  }
  
  a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
  }
  
  a:hover {
    color: #222;
  }
  